
ion-tab-bar, ion-tab-button{
    background-color: #ff96a7;
    //background-image: url('../../assets/images/images.jfif');
    background-size: cover;
   }
   
   ion-icon{
     color: #57293f;
   }


   .bg-8 {
    // background-color: #fbc02d;
    background-color: white;
  //  background-image: url('../../assets/images/coonect.jif');
    background-size: cover;

   
  }