<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="color: #800000;">
      Team Marvel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <section class="wrapper">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Anup Darvatkar</ion-label>
    </ion-item>
  
    <ion-card-content style="color:#755139ff;;">
       Anup is involved in Soluton and Architecture efforts in logistics domain. He loves to learn new technologies, tincker with them and find ways to adopt the same to enterprise context. 
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Manish Kumar Narula</ion-label>
    </ion-item>
    <ion-card-content style="color: #755139ff;">
      Manish wear many hats. For his living he works as a technical project manager / scrum master. He loves to read, explore new technologies and play badminton.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Narendra Kumar</ion-label>
    </ion-item>
    <ion-card-content style="color:#755139ff;">
      Narendra is a technology enthusiast. He is a full stack developer and architect. He likes read about upcoming technology trends and travelling.
    </ion-card-content>
  </ion-card>
</section>
</ion-content>
